h2 {
  color: skyblue;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-style: italic;
  color: grey;
}
h4 {
  color: skyblue;
  font-style: oblique;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
  
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  }
  
 .weather-forecast-temperature-min {
   opacity: 0.5;
  }
  weather-forecast-temperatures {
    font-size: 13px;
  }
